body{
    font-family: "Montserrat", sans-serif;
}

header{
    background-color: white;
}

.header-box{
    width: 1440px;
    position: relative;
    margin: 0 auto;
}

#logo-header{
    display:flex;
    top: 10px;
}

#cerrar-sesion{
    position: absolute;
    right: 9%;
    top: 50%;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

main{
    width:auto;
    height: 676px;
    position: relative;
    margin: 0 auto;
    background-image: url(/Wave-SVG-fondo-grande.png);
}

.main-box{
    width: 1440px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#add{
    margin: 40px 9% 40px auto;
    border: solid 2px white;
    border-radius: 6px;
    width: 5%;
    display: flex;
    padding: 5px 40px 5px 40px;
}

#add h1{
    padding-top: 1px;
    padding-right: 5px;
    color: white;
}

#add-logo{
    width: 25%;
    height: 25%;
}

.line{
    display: flex;
    flex-direction: row;
}

.box-element{
    width: 308px;
    height: 180px;
    background-color: white;
    margin: 10px 7.5px 4px 7px;
    border: solid 1px black;
    border-radius: 6px;
    padding: 2% 4%;
}

 .box-element h1{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}

.see{
    font-size: 20px;
    width: 30%;
    margin-left: auto;
    margin-right: 0px;
    border: solid 1px black;
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
    padding: 4px 18px;
    background-image: url(/Wave-SVG-fondo-grande.png);
    color: white;
}
